[staticMenu]
code = "mainmanu"
==
<!DOCTYPE html>
<html lang="de">
<head>
    {% partial 'meta' %}
    <link rel="stylesheet" href="{{ 'assets/home.css' | theme }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter">
                    <img src="{{ 'assets/logo_dark.svg' | theme }}" alt="Logo Kursito">
                </div>
                <nav class="column is-three-quarters navigation">
                    {% component 'staticMenu' %}
                </nav>
            </div>
        </div>
    </header>

    <!-- Content -->
	{% page %}

    {% partial 'scripts' %}
</body>
</html>